---
# file: roles/monitoring-jarfiler/tasks/main.yml

- name: Download slf4j-api-1.6.4.jar
  get_url: url=http://repo1.maven.org/maven2/org/slf4j/slf4j-api/1.6.4/slf4j-api-1.6.4.jar
           dest={{ tomcat_lib }}/slf4j-api-1.6.4.jar

- name: Download mysql-connector-java-5.1.26.jar
  get_url: url=http://repo1.maven.org/maven2/mysql/mysql-connector-java/5.1.26/mysql-connector-java-5.1.26.jar
           dest={{ tomcat_lib }}/mysql-connector-java-5.1.26.jar

- name: Download javax.servlet.jsp.jstl-api-1.2.1.jar
  get_url: url=http://repo1.maven.org/maven2/javax/servlet/jsp/jstl/javax.servlet.jsp.jstl-api/1.2.1/javax.servlet.jsp.jstl-api-1.2.1.jar
           dest={{ tomcat_lib }}/javax.servlet.jsp.jstl-api-1.2.1.jar

- name: Download javax.servlet.jsp.jstl-1.2.1.jar
  get_url: url=http://repo1.maven.org/maven2/org/glassfish/web/javax.servlet.jsp.jstl/1.2.1/javax.servlet.jsp.jstl-1.2.1.jar
           dest={{ tomcat_lib }}/javax.servlet.jsp.jstl-1.2.1.jar
