<div class="monitor-container">
  <div class="row">
    <div class="col-md-4">
      <div class="page-header" style="text-align: center;">
        <h2>Webcert</h2>
      </div>
      <chart chartname="webcert"></chart>
      <monitorservices servicename="webcert" alertsize="flex-item-big"></monitorservices>
    </div>
    <div class="col-md-4">
      <div class="page-header" style="text-align: center;">
        <h2>Mina Intyg</h2>
      </div>
      <chart chartname="minaintyg"></chart>
      <monitorservices servicename="minaintyg" alertsize="flex-item-big"></monitorservices>
    </div>
    <div class="col-md-4">
      <div class="page-header" style="text-align: center;">
        <h2>Statistik</h2>
      </div>
      <chart chartname="statistik"></chart>
      <monitorservices servicename="statistik" alertsize="flex-item-big"></monitorservices>
    </div>
  </div>
</div>
