<div class="monitor-container">
  <div class="row">
    <div class="col-md-4">
      <div class="page-header">
        <h2>Webcert</h2>
      </div>
      <div style="width:100%; text-align: center;"
           ng-if="!webcert.doneLoading && webcert.fail < threshold">
        <img src="images/ajax-loader.gif" alt="Loading..."/>
      </div>
      <div style="width:100%; text-align: center;"
           ng-if="!webcert.doneLoading && webcert.fail >= threshold">
        <div class="alert alert-danger">
          Kunde inte kontakta Webcert. Testa ladda om sidan.
        </div>
      </div>
      <div ng-if="webcert.doneLoading">
        <chart chartname="webcert"></chart>
        <monitorservices service-name="webcert" alertsize="flex-item-big"></monitorservices>
      </div>
    </div>
    <div class="col-md-4">
      <div class="page-header">
        <h2>Mina Intyg</h2>
      </div>
      <div style="width:100%; text-align: center;"
           ng-if="!minaintyg.doneLoading && minaintyg.fail < threshold">
        <img src="images/ajax-loader.gif" alt="Loading..."/>
      </div>
      <div style="width:100%; text-align: center;"
           ng-if="!minaintyg.doneLoading && minaintyg.fail >= threshold">
        <div class="alert alert-danger">
          Kunde inte kontakta Mina Intyg. Testa ladda om sidan.
        </div>
      </div>
      <div ng-if="minaintyg.doneLoading">
        <chart chartname="minaintyg"></chart>
        <monitorservices service-name="minaintyg" alertsize="flex-item-big"></monitorservices>
      </div>
    </div>
    <div class="col-md-4">
      <div class="page-header">
        <h2>Privatläkarportalen</h2>
      </div>
      <div style="width:100%; text-align: center;"
           ng-if="!privatlakarportalen.doneLoading && privatlakarportalen.fail < threshold">
        <img src="images/ajax-loader.gif" alt="Loading..."/>
      </div>
      <div style="width:100%; text-align: center;"
           ng-if="!privatlakarportalen.doneLoading && privatlakarportalen.fail >= threshold">
        <div class="alert alert-danger">
          Kunde inte kontakta Privatläkarportalen. Testa ladda om sidan.
        </div>
      </div>
      <div ng-if="privatlakarportalen.doneLoading">
        <chart chartname="privatlakarportalen"></chart>
        <monitorservices service-name="privatlakarportalen" alertsize="flex-item-big"></monitorservices>
      </div>
    </div>
  </div>
</div>
