# This playbook deploys monitoring application

- hosts: tomcat
  sudo: yes
  vars:
    # repo - values: snapshot or release
    repo: releases

    version: 1.0.73
    config_version: master

  roles:
    - monitoring-systemvariabler
    - monitoring-jarfiler
    - monitoring-resurser
    - monitoring
